// Containers

body {
  background: $white;
  box-shadow: 0 0 1.5em $black, 0 0.5em 3em rgba($black, 0.75);
  height: 11in;
  margin: 0 auto;
  width: 8.5in;

  @media print {
    box-shadow: none;
    -webkit-print-color-adjust: exact;
  }
}

// Print margins
@page {
  margin: 0;
}

.resume {
  padding: 1.5em;

  ul + h2 {
    margin-top: 1em;
  }
}


// Header

.resume__header {
  align-items: center;
  background-color: $brand;
  border: 1px solid $brand;
  color: $white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  padding: 1.15em 1.5em;
  position: relative;

  &::before {
    border: 0.5em solid $white;
    border-left-color: transparent;
    border-top-color: transparent;
    bottom: -2px;
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: -2px;
    width: 0;
  }
}

  .resume__header__name {
    font-size: 2.5rem;
  }

  .resume__header__tagline {
    font-size: 1.2em;
    margin-top: 0.25em;
  }

  .resume__header__info {
    text-align: right;
  }

    .resume__header__info__link {
      color: $white;
      display: block;
      padding: 0.25em 0;
    }


// Content

.resume__content {
  display: table;
  padding: 0 1.5em;
  table-layout: fixed;
}

  .resume__content__sidebar,
  .resume__content__experience {
    display: table-cell;
    vertical-align: top;
  }

  .resume__content__heading {
    border-bottom: 1px solid $light-grey;
    color: $brand;
    margin-bottom: 0.4em;
    padding-bottom: 0.3em;
  }

// Sidebar

.resume__content__sidebar {
  padding-right: 1em;
  width: 2.75in;

  p {
    margin-bottom: 1em;
  }
}


// Experience

.resume__content__experience {
  padding-left: 1em;

  li + li {
    margin-top: 1.25em;
  }
}


// Footer

.resume__footer {
  font-size: 0.85em;
  padding-top: 1.5em;
  text-align: center;
}
